.site-footer {
	background-color: black;
	display: black;
	color: white;
	text-align: center;
	padding: 10px;
  }
  
  @media screen and (max-width: 768px) {
	.site-footer {
	  font-size: 14px;
	}
  }